@using NguyenCoffeeWeb.Models
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@{
    var session = HttpContextAccessor.HttpContext.Session;
    var accJson = session.GetString("Account"); // Lấy chuỗi JSON từ session
    var acc = accJson != null ? Newtonsoft.Json.JsonConvert.DeserializeObject<Account>(accJson) : null;
    var type = 1;
    if (acc != null)
    {
        type = (int)acc.Type;
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NguyenCoffeeWeb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/NguyenCoffeeWeb.styles.css" asp-append-version="true" />

    <link rel="icon" href="~/favicon.ico" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    @*<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">*@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/owlcarousel/assets/owl.carousel.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/style.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/StyleSheet.css"  />

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<style>
    /* Style cho button mở chat */
    .chat-open-btn {
        position: fixed;
        bottom: 20px;
        right: 20px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        font-size: 24px;
        cursor: pointer;
        outline: none;
    }

    /* Style cho popup chat */
    .chat-popup {
        display: none;
        position: fixed;
        bottom: 80px;
        right: 20px;
        width: 300px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        z-index: 9999;
    }

    .white-icon {
        color: white;
    }

    .chat-popup.open {
        display: block;
    }

    .chat-popup .chat-header {
        background-color: #007bff;
        color: #fff;
        padding: 10px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .chat-popup .chat-body {
        padding: 10px;
        background-color: #f9f9f9;
        min-height: 200px;
    }
    /* fixed body */
    .chat-body {
        display: flex;
        flex-direction: column;
        height: calc(60vh - 100px); /* Đảm bảo chiều cao của phần cuộc trò chuyện không vượt quá chiều cao của cửa sổ trình duyệt */
        overflow-y: auto; /* Cho phép cuộn dọc khi cần thiết */
    }

    /* CSS cho phần nhập tin nhắn */
    .message-input-container {
        position: fixed; /* Sử dụng position: fixed để giữ phần nhập tin nhắn cố định ở dưới */
        bottom: 0; /* Phần nhập tin nhắn sẽ nằm ở dưới cùng */
        left: 0; /* Chỉ định vị trí từ bên trái của cửa sổ trình duyệt */
        width: 100%; /* Phần nhập tin nhắn sẽ chiếm toàn bộ chiều rộng của cửa sổ trình duyệt */
        z-index: 999; /* Đảm bảo phần này nằm trên tất cả các phần khác */
    }

    /* CSS cho phần cuộn trong phần cuộc trò chuyện */
    #discussion {
        flex-grow: 1; /* Đảm bảo phần discussion mở rộng để điền vào không gian trống của phần chat-body */
        overflow-y: auto; /* Cho phép cuộn dọc khi cần thiết */
    }

    /* CSS cho phần nhập tin nhắn */
    .message-input-container {
        padding: 10px; /* Thêm padding để tạo khoảng cách với nội dung */
        background-color: #fff; /* Đảm bảo phần nhập tin nhắn có nền màu trắng */
    }
</style>
<style>
    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-menu {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

        .dropdown-menu li {
            list-style-type: none;
        }

    .dropdown:hover .dropdown-menu {
        display: block;
    }

    .navbar-brand {
        display: flex;
        align-items: center;
    }

        .navbar-brand img {
            max-height: 50px; /* hoặc chiều cao bạn muốn */
            margin-right: 10px; /* khoảng cách giữa ảnh và văn bản */
        }

        .navbar-brand h1 {
            font-family: courier, arial, helvetica;
        }

</style>
<body>
    <div style="background-color:#413c2d;" class="container-fluid p-0">
        <nav style="height:85px;" class="navbar navbar-expand-lg bg-none navbar-dark py-3">
            <a asp-page="/Index"  class="navbar-brand d-flex align-items-center px-lg-4 m-0">
                <div>
                    <img src="https://lh3.googleusercontent.com/u/0/d/12gFnC_wmQLUhc0y_8cwKQSt82gzzI5hG=w1920-h912-iv2" alt="Logo" style="max-height: 50px; margin-right: 30px;" />
                </div>
                <div style="margin-top:15px;">
                    <h1 class="m-0 display-4 text-uppercase text-white" style="font-family:courier,arial,helvetica;font-size:30px;">Nguyên Cà Phê</h1>
                </div>
            </a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="navbarCollapse">
                <div class="navbar-nav p-4">
                    <a asp-page="/Index" class="nav-item nav-link active">Home</a>
                    <a asp-page="/OnlineProducts/Index" class="nav-item nav-link active">Online Products</a>
                    <a asp-page="/Menu" class="nav-item nav-link active">Menu</a>
                    <a href="@Url.Action("Privacy", "Home")" class="nav-item nav-link">Active Map</a>
                    <a href="/Cart" class="nav-item nav-link active">
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                    </a>
                    @if (accJson == null)
                    {
                        <a asp-page="/Authentication/Login" class="nav-item nav-link active">Login</a>
                    }
                    else
                    {
                        <div class="dropdown" style="text-align: center; display: flex; align-items: center;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="rgb(218, 159, 91)" class="bi bi-person-fill" viewBox="0 0 16 16" style="transform: scale(1.5);">
                                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
                            </svg>
                            <p style="margin-left: 15px; color:rgb(218, 159, 91); margin-bottom: 0; margin-top: 0;">Hello @acc.FullName</p>
                            <ul class="dropdown-menu" style="height: auto;width: 261.6px;" id="dropdownMenu">
                                <li><a asp-page="/Customer/Profile" class="nav-item nav-link active">Profile</a></li>
                                <li><a asp-page="/Customer/ChangePass" class="nav-item nav-link active">Change Password</a></li>
                                <li><a asp-page="/Customer/History" class="nav-item nav-link active">History</a></li>
                                @if (acc.Type == 0)
                                {
                                    <li><a href="/Admin/Accounts/Index" class="nav-item nav-link active">Account Management</a></li>
                                    <li><a href="/Admin/Categories/Index" class="nav-item nav-link active">Categories Management</a></li>
                                    <li><a href="/Admin/Products/Index" class="nav-item nav-link active">Products Management</a></li>
                                }
                                <li><a asp-page="/Authentication/Logout" class="nav-item nav-link active">Logout</a></li>
                            </ul>
                        </div>
                    }
                </div>
            </div>
        </nav>
    </div>
      <div class="main">
         @RenderBody()
      </div>

    <!-- Footer Start -->
    <div>
        <div  class="container-fluid footer text-white mt-5 pt-5 px-0 position-relative overlay-top">
            <div class="row mx-0 pt-5 px-sm-3 px-lg-5 mt-4">
                <div class="col-lg-3 col-md-6 ">
                    <h4 class="text-white text-uppercase " style="letter-spacing: 3px;">Get In Touch</h4>
                    <p><i class="fa fa-map-marker-alt mr-2"></i>123 Street, New York, USA</p>
                    <p><i class="fa fa-phone-alt mr-2"></i>+012 345 67890</p>
                    <p class="m-0"><i class="fa fa-envelope mr-2"></i>info@example.com</p>
                </div>
                <div class="col-lg-3 col-md-6 ">
                    <h4 class="text-white text-uppercase mb-4" style="letter-spacing: 3px;">Follow Us</h4>
                    <div class="d-flex justify-content-start">
                        <a class="btn btn-lg btn-outline-light btn-lg-square mr-2" href="#"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-lg btn-outline-light btn-lg-square mr-2" href="#"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-lg btn-outline-light btn-lg-square mr-2" href="#"><i class="fab fa-linkedin-in"></i></a>
                        <a class="btn btn-lg btn-outline-light btn-lg-square" href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 ">
                    <h4 class="text-white text-uppercase " style="letter-spacing: 3px;">Open Hours</h4>
                    <div>
                        <h6 class="text-white text-uppercase">Monday - Friday</h6>
                        <p>8.00 AM - 8.00 PM</p>
                        <h6 class="text-white text-uppercase">Saturday - Sunday</h6>
                        <p>2.00 PM - 8.00 PM</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 ">
                    <h4 class="text-white text-uppercase mb-4" style="letter-spacing: 3px;">Newsletter</h4>
                    <div class="w-100">
                        <div class="input-group">
                            <input type="text" class="form-control border-light" style="padding: 25px;" placeholder="Your Email">
                            <div class="input-group-append">
                                <button class="btn btn-primary font-weight-bold px-3">Sign Up</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <!-- Footer End -->
    <!-- Body Chat -->
    <div id="chatPopup" class="chat-popup" style="background-color: #eee;">
        <div class="chat-header d-flex justify-content-between align-items-center p-3 bg-info text-white border-bottom-0" style="border-top-left-radius: 15px; border-top-right-radius: 15px;">
            <i class="fas fa-angle-left"></i>
            <h3 class="align-content-center">Chat</h3>
            <button onclick="toggleChat()"> <i class="fas fa-times"></i></button>
        </div>
        <div class="chat-body">

            @*    <div class="d-flex flex-row justify-content-start mb-4" >
            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp"
            alt="avatar 1" style="width: 45px; height: 100%;">
            <div class="p-3 ms-3" style="border-radius: 15px; background-color: rgba(57, 192, 237,.2);" id="discussion">
            <ul class="small mb-0"></ul>
            </div>
            </div>
            <div class="d-flex flex-row justify-content-end mb-4">
            <div class="p-3 me-3 border" style="border-radius: 15px; background-color: #fbfbfb;">
            <p class="small mb-0">Thank you, I really like your product.</p>
            </div>
            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava2-bg.webp"
            alt="avatar 1" style="width: 45px; height: 100%;">
            </div> *@
            <div id="discussion" class="message-container">
            </div>

            <div class="form-outline ">
                <label class="form-label" for="textAreaExample">Type your message</label>
                <textarea class="form-control" id="message" rows="4"></textarea>
                <button type="button" class="btn btn-info btn-rounded float-end " style="border-radius: 15px;" id="sendmessage" value="Send">Send</button>
            </div>
        </div>
    </div>

    <!-- Chat icon -->
    <a href="#" style=" border-radius: 50%;" onclick="toggleChat()" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="fa fa-comments" aria-hidden="true"></i></a>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
@*     <script src="~/js/site.js" asp-append-version="true"></script> *@

    <!-- JavaScript Libraries -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/5.0.4/signalr.min.js"></script>
    <script>
        var connection = new signalR.HubConnectionBuilder().withUrl("/chatHub").build();
        connection.start().catch(function (err) {
            return console.error(err.toString());
        });

        document.addEventListener("DOMContentLoaded", function () {
            document.getElementById("sendmessage").addEventListener("click", function (event) {
                var type = @type;
                var message = document.getElementById("message").value;
                connection.invoke("SendMessage", type, message).catch(function (err) {
                    return console.error(err.toString());
                });
            });
        });

        connection.on("ReceiveMessage", function (user, message) {
            var discussionContainer = document.getElementById("discussion");
            var messageContainer = createMessageContainer(user, message);
            discussionContainer.appendChild(messageContainer);
        });

        function createMessageContainer(type, message) {
            var messageContainer = document.createElement("div");
            messageContainer.classList.add("d-flex", "flex-row", "mb-4");
            if (@type == type) {
                messageContainer.classList.add("justify-content-end");
            } else {
                messageContainer.classList.add("justify-content-start");
            }
            var avatarImg = document.createElement("img");
            if (@type == type) {
                avatarImg.src = "https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp";
            } else {
                avatarImg.src = "https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava2-bg.webp";
            }

            avatarImg.alt = "avatar 1";
            avatarImg.style.width = "45px";
            avatarImg.style.height = "100%";

            var messageContent = document.createElement("div");
            messageContent.classList.add("ms-3");
            messageContent.style.borderRadius = "15px";
            messageContent.style.backgroundColor = "rgba(57, 192, 237, .2)";

            var discussionUl = document.createElement("ul");
            discussionUl.classList.add("small");
            discussionUl.style.padding = "15px";
            discussionUl.style.margin = "0";
            discussionUl.id = "discussion";

            // Thêm nội dung của tin nhắn trực tiếp vào phần tử ul
            var messageItem = document.createElement("div");

            messageItem.textContent = message;
            if (@type != type) {
                discussionUl.appendChild(messageItem);

                messageContent.appendChild(discussionUl);
                messageContainer.appendChild(avatarImg);
                messageContainer.appendChild(messageContent);
            } else {

                messageContent.appendChild(discussionUl);
                discussionUl.appendChild(messageItem);
                messageContainer.appendChild(messageContent);
                messageContainer.appendChild(avatarImg);

            }
            return messageContainer;
        }


    </script>
    <script>
        function toggleChat() {
            var chatPopup = document.getElementById('chatPopup');
            chatPopup.classList.toggle('open');
        }
    </script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/tempusdominus/js/moment.min.js"></script>
    <script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>
@*     <script src="~/microsoft/signalr/dist/browser/signalr.js"></script>
    <script src="~/microsoft/signalr/dist/browser/signalr.min.js"></script> *@
    <!-- Contact Javascript File -->
    <script src="mail/jqBootstrapValidation.min.js"></script>
    <script src="mail/contact.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
